
/*
web-dev
*/
.first_header{
	position: relative

}
section.block_1{
	margin-bottom: 120px
}
section.block_1 img{
	max-width: 100%;
	width: 100%;
}
.first_header h1{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 68px;
	color: #ffff;
	font-family: "Proxima Nova Semibold"

}
.hole_items img{
	max-width: 100%;
	width: 100%;
}
.hole_items .buttons{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.hole_items .br.v2{
	background: none;
	border: 1px solid #3f456f;
	color: #3f456f;
	padding: 0;

}
.hole_items .br.v2:hover{
	padding: 1px;
	border: none;
	background-color: #3f456f;
	color: #fff;
}
.hole_items .br:hover{
	transition-duration: 0.5s;
	background: none;
	color: #3f456f;
	padding: 0;
	border: 1px solid #3f456f;
}
.hole_items .br{
	background-color: #3f456f;
	max-width: 45%;
	width: 100%;
	transition-duration: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Proxima Nova Semibold";
	padding: 1px;
}
.hole_items{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.hole_items .desc{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 25px;
	margin-bottom: 25px;
}
.hole_items .desc p{
	font-size: 18px;
	color: #272727;
	font-family: "SM";
}
.hole_items .desc p span{
	font-family: "PL";
	font-size: 18px;
	color: #272727;
}
.hole_items .item .title{
	font-size: 25px;
	text-transform: uppercase;
	color: #272727;
	margin-bottom: 30px;
}
.hole_items .item{
	max-width: 47%;
	width: 100%;
	margin-bottom: 100px;
}
.block_2 h2{
	font-size: 45px;
	color: #462b58;
	margin-bottom: 60px;
	padding-bottom: 10px;
	position: relative;
}
.block_2 h2:after{
	position: absolute;
	width: 65px;
	height: 3px;
	background-color: #b8cf00;
	left: 0;
	content: "";
	bottom: 0;
}
.slider_block .slick-arrow{
	width: 40px;
	height: 40px;
	border-radius: 25px;
	background-color: #b8cf00;
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 0;
	outline: none;
	border: none;
	position: absolute;
	bottom: 20px;
	z-index: 1;
	cursor: pointer;

}
.slick-prev{
	background-image: url("../img/arrow_left.png");
	right: 65px;
}
.slick-next{
	background-image: url("../img/arrow_right.png");
	right: 15px;
}

/*new*/
.first_header.third-section .booking{
	position: absolute;
	bottom: -50px;
	box-sizing: border-box;
}
.first_header.third-section h1{
	position: initial;
	display: block;
}
.first_header.third-section .text_fly{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	flex-direction: column;
	top: 0;
	bottom: 0;

}
.first_header.third-section .text_fly p{
	color: #fff;
	max-width: 700px;
	font-size: 24px;
	font-family: "PL";
}
.first_header.third-section .text_fly h1{
	margin: 0;
}
.block_2.v2 .hole_filt .text_top h2{
	margin-bottom: 20px;
}
.block_2.v2 .hole_filt .text_top p{
	font-family: "PL";
	font-size: 16px;
	color: #272727;
	margin-bottom: 20px;
}
.block_2.v2 .hole_filt .filtr form input{
	display: none;
}
.block_2.v2 .hole_filt .filtr form label{
	text-transform: uppercase;

	cursor: pointer;
	position: relative;
}
.block_2.v2 .hole_filt .filtr form input[type=radio]:checked + label{
	color: #3f456f;
}
.radio{
	margin-right: 45px;
}
.block_2.v2 .hole_filt .filtr form input[type=radio]:checked + label:after{
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 10px;
	background-color: #3f456f;
	bottom: -10px;
	right: 0;
	left: 0;
	position: absolute;
	margin: auto;
	display: block;
}

.block_2.v2 .hole_filt .filtr form {
	display: flex;
	margin-bottom: 40px;
}
.hole_items .about span{
	font-family: "PL";
}
.hole_items .about p{
	padding-top: 30px;
	margin-bottom: 10px;
}
.hole_items .about{
	padding: 0 15px;
}
.hole_items .buttons.v2{
	padding: 0 15px;
}
.tog{
	border: 1px solid #d7d7d7;
	border-top: 0px;
	padding-bottom: 30px;
}
.tog .price {
	font-size: 15px;
	color: #3f456f
}
.tog .price span{
	font-size: 22px;
	color: #3f456f;
}

@media (max-width: 1024px) {
	.first_header h1 {
		font-size: 50px;
	}

	.hole_items .item .title {
		font-size: 18px;
	}

	.hole_items .item {
		margin-bottom: 50px;
	}

	section.block_1 {
		margin-bottom: 60px;
	}
}

@media (max-width: 768px) {
	.first_header h1 {
		font-size: 32px;
	}

	.block_2 h2 {
		font-size: 32px;
	}

	.hole_items .item {
		max-width: 100%;
	}
}

@media (max-width: 480px) {
	.first_header h1 {
		font-size: 20px;
	}

	.block_2 h2 {
		font-size: 25px;
	}

}
