.second-section {
    background-image: url(../img/wallpaper-sport.jpg);
    height: 646px;
}

.second-section .hello {
	margin-top: 0;
}
.lobby-text {
	width: 292px;
}

footer {
	margin-top: 107px;
}

.lobby-img img {
    height: 402px;
}

.lobby-img2 {
	left: 496px;
}

.services_face {
	margin-top: -60px;
}

@media (max-width: 768px) {
	.second-section .all-inclusive {
		padding: 20px;
		font-size: 20px;
	}
}
