.gallery {
	margin-top: 110px;
}
.gallery-title1 {
	font-size: 68px;
	color: #333366;
}

.gallery-title2 {
	font-size: 24px;
	color: #333333;
	margin-top: 47px;
}

.gallery-title {
	text-align: left;
    max-width: 710px;
    margin: auto;	
}
.gallery-photo {
	max-width: 1141px;
	margin-top: 106px;
}

.gallery-photo p {
	text-align: center;
    position: relative;
    bottom: 238px;
    color: #fff;
    font-size: 30px;
}

.gallery-photo img {
	height: 439px;
	width: 556px;
}

.gallery-photo1 {
	margin-bottom: -15px;
	display: flex;
	justify-content: space-between;

}

.gallery-photo2 {
	margin-bottom: -15px;
	display: flex;
	justify-content: space-between;
}

.gallery-photo3 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

@media (max-width: 1134px) {
	.gallery-photo1 {
		flex-direction: column;
	}
	.photo-hotel img {
		width: 100%;
		height: auto;
	}
	.photo-hotel p {
		bottom: 455px;
	}
	.photo-number img {
		width: 100%;
		height: auto;
	}
	.photo-number p {
		bottom: 455px;
	}
	.gallery-photo2 {
		flex-direction: column;
	}
	.photo-eat img {
		width: 100%;
		height: auto;
	}
	.photo-eat p {
		bottom: 455px;
	}
	.photo-spa img {
		width: 100%;
		height: auto;
	}
	.photo-spa p {
		bottom: 455px;
	}
	.gallery-photo3 {
		flex-direction: column;
	}
	.photo-animation img {
		width: 100%;
		height: auto;
	}
	.photo-animation p {
		bottom: 455px;
	}
	.photo-video img {
		width: 100%;
		height: auto;
	}
	.photo-video p {
		bottom: 455px;
	}
}

@media (max-width: 774px) {
	.gallery-photo p {
			bottom: 290px;
	}
	.gallery-title {
			max-width: 566px;
	}
	.gallery-title1 {
		font-size: 52px;
	}
	.gallery-title2 {
		font-size: 18px;
	}
}

@media (max-width: 774px) {
	.gallery-title {
		max-width: 358px;
	}
}

@media (max-width: 434px) {
	.gallery-photo p {
		bottom: 160px;
	}
}

@media (max-width: 358px) {
	.gallery-title {
		max-width: 207px;
	}
}