.hotel-photo {
  margin-top: 100px;
  margin-bottom: 100px;
}

.number-hotel {
  margin: 0 -15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 32.33%;
  max-width: 33.33%;
  padding: 0 4px;
  overflow: hidden;
}

.column img {
  vertical-align: middle;
  height: 420px;
  padding: 15px 20px;
  width: 100%;
}

.column img.middle {
  height: 235px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1170px) {
  .column img.middle {
    height: auto;
  }
  .column {
    flex: 33.33%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1170px) {
  .column img.middle {
    height: auto;
  }
  .column {
    flex: 50%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1326px) {
  .links {
    text-align: center;
  }
  .section-title {
    text-align: center;
  }
}


@media screen and (max-width: 734px) {
  .fiveth-section .links {
    font-size: 12px;
  }
}

@media screen and (max-width: 598px) {
  .fiveth-section .links {
    font-size: 10px;
  }
}

@media screen and (max-width: 346px) {
  .fiveth-section .links {
    font-size: 9px;
  }
}
